.wrapper {
    max-width: 1220px;
    margin: 0 auto;
    padding: 0 20px;
}

.layout {
    display: flex;
    min-height: 80vh;
}

.layout__main {
    flex-basis: 60%;
    position: relative;
}

.layout__sidebar {
    flex-basis: 40%;
    margin-left: 20px;
    max-width: 100%;
    overflow-y: scroll;
}

.route-list-item{
    padding: 10px 25px;
    border-top: 1px solid black;
    display: flex;
    background-color: #fff;
}

.route-list-ite__controls {
    min-width: 80px;
}

.search {
    position: absolute;
    width: 100%;
    top: 50px;
    display: flex;
    justify-content: center;
}

.y-suggest {
    width: 350px;
}